# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.venv/

# Logs
*.log

# macOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/

# Test/coverage
.coverage
coverage.xml
htmlcov/
.cache/
pytest_cache/
